body{
    background-color: rgb(34, 34, 34);
}

/*  header border animation  */
.headerdiv{
    width: 98%;
    height: 150px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 8px black solid;
    border-radius: 20px;
    animation: headborderanimation 4s alternate infinite;
    overflow: hidden;
    box-shadow: 0px 5px 10px 0px rgba(212, 0, 255, 0.7);
}
@keyframes headborderanimation {
    0% {border-right-color: rgb(255, 0, 200);}
    25% {border-top-color: rgb(255, 5, 192);}
    50% {border-left-color: rgb(162, 0, 255);}
    75% {border-bottom-color: rgb(113, 13, 243);}
    100% {border-bottom-color: rgb(255, 0, 200);}
    
}


/*  header txt animation  */
.animation_txt_div {
    background-color:  #151719;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 140px;
   
  }
  .waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 50px;
    
  }
  .waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: rgb(233, 104, 30);
    text-transform: uppercase;
    animation: waviy 2s infinite;
    animation-delay: calc(.1s * var(--t));
    
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0.5)
    }
    20% {
      transform: translateY(-30px)
    }
  }



.test{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 50px;
    
}




#myimg{
  width: 30%;
  height: 800px;
  margin-left: 15px;
  border: 8px solid black;
  border-radius: 200px;
  object-fit: cover;
  object-position: 0% 0%;
  animation: mymove 10s alternate infinite;
  box-shadow: 0px 10px 20px 0px rgba(212, 0, 255, 0.7);
  

}
@keyframes mymove {
    0% {
      object-position: 0% 0%;
    }
    25% {
      object-position: 20% 0%;
    }
    100% {
      object-position: 100% 100%;
    }

    0% {border-right-color: rgb(255, 0, 200);}
    25% {border-top-color: rgb(255, 5, 192);}
    50% {border-left-color: rgb(162, 0, 255);}
    75% {border-bottom-color: rgb(113, 13, 243);}
    100% {border-bottom-color: rgb(255, 0, 200);}
}